{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["flowtype"],
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      },
      "babel-module": {
        "paths": ["./"]
      }
    }
  }
}